<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="navbar">
		<ul>
			<li><%= link_to "HOME", root_path %></li>
			<li><%= link_to "ABOUT", about_path %></li>
			<li><%= link_to "CONTACT", contact_path %></li>
		</ul>
	</div>
<%= yield %>

</body>
</html>
